.create-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-page {
  max-width: 600px;
  width: 100%;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}


.create-form {
  margin-top: 20px;
}

.create-form .ant-typography {
  margin-bottom: 30px;
}

.small-inputs {
  display: flex;
  gap: 5rem;
}

.left-side input {
  display: block;
  width: 100%;
  padding: 12px;
  font-size: 16px;
}

.tags-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.tags-container .ant-typography {
  margin-bottom: 10px;
}

.tags-container .ant-checkbox-group-item {
  display: block;
  margin-bottom: 0.5rem;
}

.tags-container .ant-checkbox-wrapper {
  margin-right: 8px;
}

.tags-container .ant-checkbox-group {
  display: flex;
  flex-wrap: wrap;
}

.create-input {
  padding: 12px;
  width: 100%;
}

.create-textarea {
  padding: 12px;
  height: 150px;
  resize: vertical;
  width: 100%;
}

.error-message {
  color: red;
  margin-bottom: 10px;
}

.recipe-submit-button {
  width: 100%;
  margin-left: auto;
  padding-right: 50px;
  padding-left: 50px;
}
.btn-container {
  display:flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 768px) {
  .create-page {
    padding: 20px;
  }
}
