.create-page {

}



#test-button {
    position: absolute;
    top: 20%;
    left: 30%;
    z-index: 2;
}

.create-form {
    
    display: flex;
    padding-top: 20%;
    padding-left: 13%;
    padding-bottom: 2rem;
    flex-direction: column;
    width: 65%;
    /* margin-left: 15%; */
    position: static;
    top: 30vh;
    gap: 2rem;


}

.small-inputs {
    display: flex;
    gap: 5rem;
    /* max-height: 15vw; */
}
.left-side input{
    display: block;
    width: 20vw;
    padding: .3rem 1.3rem;
    font-size: 1rem;
}

.tags-container ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: .8rem;
    height: 14rem;

}

.tags-container li {
    list-style: none;
    padding-bottom: .8rem;
    padding-right: 2rem;
}

.tags-container label {
    padding-left: .4rem;
}

.create-input {
    padding: 8px;
    margin-bottom: 1rem;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 0 5px var(--tigers-eye)
}

.create-input:hover {
    box-shadow: 0 0 1rem var(--tigers-eye);
}

.create-textarea {
    padding: 10px;
    height: 20vh;
    margin: 0;
    resize: none;
    border-radius: 10px;
    
}

.create-page label {
    display: inline;
}

.recipe-submit-button {
    border: none;
    border-radius: 20px;
    background-color: white;
    padding: .4rem 1.4rem;
    width: max-content;
    font-size: 1.1rem;
    margin-left: 8px;
    
}

.recipe-submit-button:hover {
    cursor: pointer;
}