.home {
  display: flex;
  justify-content: space-evenly;
  /* align-items: center; */
  padding-top: 20vh;
  /* height: 100vh; */
}

.home .intro {
  margin-top: 10vh;
}

.home h1 {
  color: azure;
}

.home .search-wrapper {

}

.home .welcome {
  margin-top: 10vh;
}



@media screen and (max-width: 850px) {
  .home {
    padding-top: 5vh;
    flex-direction: column;
    height: auto;

  }


  .home h1 {
    text-align: center;
    margin: .7rem;
  }

  .home .search-wrapper {
    width: 100%;
  }


 

}