.login-register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.auth-form-container,
.forms {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.auth-form-container {
  position: relative;
  background: white;
  align-items: center;
  width: 30rem;
  font-size: 1rem;
  border-radius: 10px;
  margin-top: 5rem;
}

.auth-form-container .top-h1 {
  border-bottom: 1px solid var(--tigers-eye);
  color: var(--tigers-eye);
  margin-bottom: 0;
}

.login-button {
  display: inline-block;
  border-radius: 8px;
  background-color: var(--tigers-eye);
  color: #fff;
  text-align: center;
  font-size: 17px;
  padding: 16px;
  width: 100%;
  transition: 0.5s;
  cursor: pointer;
  margin: 5px;
  border: none;
}

.login-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.login-button span:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.5s;
}

.login-button:hover span {
  padding-right: 15px;
}

.login-button:hover span:after {
  opacity: 1;
  right: 0;
}

.link-button {
  background: none;
  color: var(--tigers-eye);
  text-decoration: underline;
  width: 100%;
  display: block;
  padding: 16px;
  border: none;
  font-size: 16px;
  margin-bottom: 30px;
}

.link-button:hover {
  color: var(--orange-web);
}

.form-input {
  width: 20rem;
  padding: 12px 18px;
  font-size: 16px;
  font-family: inherit;
  box-shadow: 0 0 0 1px var(--hot-pink);
  border: none;
  border-radius: 8px;
  background-color: white;
  color: var(--tigers-eye);
  transition: all 0.3s;
}

.form-input::placeholder {
  color: var(--hot-pink);
  font-size: 14px;
}

.form-input:focus {
  outline: none;
  box-shadow: 0 0 10px 1px var(--hot-pink);
  border: none;
  transition: all 0.3s;
}
