.profile-info {
    display: flex;
    gap: 35px;
}


.profile-pic-container {
    background-image: url("https://images.unsplash.com/photo-1604072366595-e75dc92d6bdc?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80");
    width: 300px;
    height: 300px;
    background-position: 45% 40%;
    border-radius: 50%;
}

.user {
    align-self: center;
}

span {
    color: white;
}