.search-wrapper {
  padding: 0 1rem;
  width: 31rem;
  background-color: white;
  border: none;
  border-radius: 10px;
  display: flex;
  align-items: center;
  height: 2.5rem;
  box-shadow: 0 0 5px var(--tigers-eye);
  transition: box-shadow 0.3s ease;
  box-sizing: border-box;
}

.search-wrapper:hover,
.search-wrapper:active,
.search-wrapper:focus {
  box-shadow: 0 0 1rem var(--tigers-eye);
}

.search-input {
  background-color: transparent;
  border: none;
  margin-left: 8px;
  height: 100%;
  width: 100%;
  font-size: 20px;
}

.search-input:focus {
  outline-width: 0;
}

.search-input:focus-visible {
  outline: none;
}

#search-icon {
  color: var(--tigers-eye);
}
