.fav-btn {
  padding: 8px 17px; 
  border-radius: 100px;
  border-style: none;
  background-color: var(--hot-pink);
  opacity: 0.8;
  font-size: 1rem;
  margin-left: 5px;
  color: #e31b23;
  transition: background-color 0.3s, transform 0.3s;
}


.fav-btn.active {
  color: red;
}

.heart-icon {
  fill: white;
  transition: fill 0.3s;
}

.heart-icon.active {
  fill: red;
}

.fav-btn:hover .heart-icon {
  fill: red;
}

.fav-btn:hover {
  cursor: pointer;
  opacity: 1;
}

