.navbar-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 6rem;
  background-color: transparent;
  position: absolute;
  top: 0px;
  width: 100%;

}

.navbar-container li {
  display: inline;
  list-style: none;
  display: inline-block;
  padding: 0px 20px;
  transition: color 0.3s ease 0s; /* Modified transition property */
  font-size: 20px;
  text-decoration: none;
  text-align: center;
}

#login-button {
  background-color: var(--red);
  width: 200px;
  height: 50px;
  border: none;
  font-size: 16px;
  color: white;
  border-radius: 10px;
  margin-right: 10px;
}

.links:hover {
  color: var(--tigers-eye);
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 14px;
  background-color: rgb(255, 255, 255);
  height: 4vw;
  width: 5vw;
  min-width: 3rem;
  min-height: 3rem;
  margin: 1vw 0 0 1vw;
  flex-shrink: 0;
  flex-basis: content;
  /* flex-basis: 4rem; */

}

#logo {
  flex-shrink: 0;
  height: 3vw;
  min-height: 3.1rem;
  margin: 0.5vw auto;
  width: 85%;
  /* min-width: 3.8rem; */
}

.links {
  color: var(--gray);
  text-decoration: none;
}

nav.nav-links-container {
  margin-left: 1rem; 
}

.nav-links {
  /* margin: 1vw 40vw 0 0; */
  background-color: white;
  border-radius: 10px;
  padding: 1.4rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.nav-links li {


}

/* cool search bar style */

.container-input {
  position: relative;
  top: 0.5rem;
}

.input {
  width: 150px;
  padding: 10px 0px 10px 40px;
  border-radius: 9999px;
  border: solid 1px var(--tigers-eye);
  transition: all 0.2s ease-in-out;
  outline: none;
  opacity: 0.8;
}

.container-input svg {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translate(0, -50%);
}

.input:focus {
  opacity: 1;
  width: 250px;
}

.container-input svg {
  stroke: var(--tigers-eye);
}

.btn-group {
  position: relative;
  left: 8%;
  display: flex;
  flex-direction: row;
}

.fnc-button {
    padding: 8px 30px;
    border-radius: 100px;
    border-style: none;
    background-color: white;
    opacity: 0.8;
    font-size: 1rem;
    margin-left: 5px;
    margin-right: 5px;
}

.fnc-button:hover {
  cursor: pointer;
  opacity: 1;
}

@media screen and (max-width: 600px) {

  .navbar-container {
    gap: unset;
    justify-content: center;
    
  }

  .container-input {
    display: none;
  }

  .logo-container {
    display: none;

  }

  nav.nav-links-container {
    margin-left: unset;
  }

  .btn-group {
    display: none;
  }

  .nav-links {
    flex-direction: row;
    flex-wrap: nowrap;
    margin: inherit auto;
  }
}