.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  --dark-gray: #35393C;
  --dark-cyan: #42858C;
  --keppel: #48a194;
  --bright-blue: #63CCCA;
  --hookers-green: #397367;
  color: var(--darkish-green, #397367);
  background-image: linear-gradient(#42858C, #35393C);
}

.auth-form-container, .forms {
  display: flex;
  flex-direction: column;
}
.auth-form-container {
  position: relative;
  background: white;
  padding: 100px 100px 30px 100px;
  align-items: center;
  width: 300px;
  font-size: 14px;
  border-radius: 5px;
  margin-bottom: 30px;
}

h1 {
  position: absolute;
  top: 2%;
  margin-bottom: 30px;
  border-bottom: 1px solid silver;
  color: black;
}
.login-button {
  background-color: var(--bright-blue);
  width: 100% ;
  display: block;
  padding: 16px;
  border: none;
  font-size: 16px;
  margin-bottom: 30px;
  color: white;
}
.login-button:hover {
  background: var(--dark-cyan);
  transition: 0.3s;
}
input{
  font-size: 16px;
  outline: none;
  border: 2px solid lightgray;
  padding: 16px;
  margin-bottom: 30px;
  border-radius: 2px;
  width: 300px;
  transition: all 0.3s ease;
}
input[type='text']:hover, input[type='email']:hover, input[type='password']:hover{
  border: 2px solid black;
}
input[type='text']:active, input[type='email'].form-control:active, input[type='password'].form-control:active{
  border: 2px solid black;
}
input[type='text']:focus, input[type='email'].form-control:focus, input[type='password'].form-control:focus{
  border: 2px solid black;
}
.link-button {
  background: none;
  color: black;
  text-decoration: underline;
  width: 100% ;
  display: block;
  padding: 16px;
  border: none;
  font-size: 16px;
  margin-bottom: 30px;
}
.link-button:hover {
  color: lightblue;
  
}


